@use 'index' as *;

.text-with-image {
    width: 100%;
    margin-bottom: 4rem;

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__img {
        width: 100%;
        margin-top: 2rem;
        border-radius: 10px;
    }
}

@include tablet-only {
    .text-with-image {
        margin-bottom: 5rem;

        &__text-wrapper {
            gap: 1.3rem;
        }

        &__img {
            margin-top: 2.3rem;
            border-radius: 20px;
        }
    }
}

@include desktop-only {
    .text-with-image {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--desktop-gap, 0rem); // Variable passed from component's HTML
    
        &.img-left {
            .text-wrapper {
                order: 2;
            }
    
            img {
                order: 1;
            }
        }

        &__text-wrapper {
            width: var(--text-wrapper-width, 100%); // Variable passed from component's HTML
        }

        &__img {
            margin-top: 0;
            border-radius: 20px;
        }
    }
}