@use 'index' as *;

footer {
    width: 100%;
    text-align: center;
    padding-top: 2rem;

    .socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .made-with {
        p {
            font-size: 1rem;
        }
    }
}

@include tablet-only {
    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@include desktop-only {
    footer {
        padding: 2.5rem 7.7rem 0;
    }
}