@use 'index' as *;

.page-title {
    margin-top: 3rem;
    margin-bottom: 0.7rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: -0.13rem;
    text-align: left;
}

.page-description {
    margin-bottom: 3rem;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .filter {
        position: relative;

        &__open-button {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;
            padding: 0.5rem 0;
            border-radius: 0.5rem;
            border: 1px solid $primary-color-300;
            background-color: $primary-color-0;
        }

        &__choices {
            display: none;
            z-index: 2;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: calc(100% + 0.5rem);
            left: 0;
            border-radius: 0.5rem;
            border: 1px solid $primary-color-300;
            background-color: $primary-color-0;
            padding: 0.8rem 5rem 0.8rem 1rem;

            &.active {
                display: flex;
            }

            input {
                margin-right: 0.3rem;
            }

            .clear-button {
                width: max-content;
                border: none;
                background-color: transparent;
                font-size: 1rem;

            }
        }
    }

    #search-input {
        width: 100%;
        padding: 0.5rem 1rem-;
        border-radius: 0.5rem;
        border: 1px solid $primary-color-300;
        background-color: $primary-color-0;
    }
}