@use 'index' as *;

.recipe-card {
    padding: 0.5rem;
    background-color: $primary-color-0;
    border: 1px solid $primary-color-300;
    border-radius: 0.5rem;
    box-shadow: 0rem 8rem 16rem -0.56rem rgba(22, 58, 52, 0.16);
    
    &__img {
        width: 100%;
        aspect-ratio: 1/0.925;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.69rem;
        letter-spacing: -0.03rem;
        margin: 1rem 0.4rem 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__overview {
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.38rem;
        letter-spacing: -0.02rem;
        margin: 0 0.4rem 1.2rem;
    }

    &__stats-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.9rem;
        row-gap: 0.5rem;
        margin: 0 0.4rem 1rem;

        p {
            display: flex;
            gap: 0.4rem;
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.38rem;
            letter-spacing: -0.02rem;
        }
    }

    &__link {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.38rem;
        letter-spacing: -0.02rem;
        padding: 0.85rem 2rem;
        border-radius: 2rem;
    }
}

@include desktop-only {
    .recipe-card {
        height: 100%;

        &__overview {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &__link {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.38rem;
            letter-spacing: -0.02rem;
            padding: 0.85rem 2rem;
            border-radius: 2rem;
        }
    }
}