@use 'index' as *;

.header {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E6E3;

    &__logo {
        width: 13rem;
    }

    &__burger-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $primary-color-200;
        border-radius: 4px;
        border: none;
    }

    &__menu-popin {
        display: none;
        position: absolute;
        left: 1rem;
        top: calc(100% - 2px);
        z-index: 2;
        border-radius: 4px;
        padding: 0.5rem;
        width: calc(100% - 2rem);
        background-color: $primary-color-0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        // When menu is openned, used on mobile and tablet only.
        &--open {
            display: block;
        }

        a {
            text-decoration: none;
        }

        .nav-menu {
            ul {
                padding: 0;
                margin: 0 0 10px 0;
    
                li {
                    padding: 0.75rem 0.5rem;
                    list-style: none;
                }
            }
        }
    
        .recipe-link {
            display: block;
            padding: 12px;
        }
    }
}

@include tablet-only {
    .header {
        padding: 2rem;

        &__logo {
            width: 16rem;
        }
    }
} 

@include desktop-only {
    .header {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 20px 60px;

        &__logo {
            width: 16rem;
        }

        &__burger-btn {
            display: none;
        }

        &__menu-popin {
            display: flex; // For desktop only, we always display the menu.
            position: initial;
            z-index: initial;
            margin-top: 0;
            padding: 0;
            width: auto;
            background-color: transparent;
            box-shadow: none;

            a {
                text-decoration: none;
            }

            .nav-menu {
                position: absolute;
                top: 0;
                left: 50%;
                height: 100%;
                transform: translateX(-50%);

                ul {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    padding: 0;
                    margin: 0;
        
                    li {
                        padding: 0;
                        list-style: none;
                        border-bottom: 3px solid transparent;
                        
                        &:hover {
                            border-color: orange;
                        }

                        &:has(a.active) {
                            border-color: orange;
                        }
                    }
                }
            }
        
            .recipe-link {
                display: block;
                padding: 12px 16px;
            }
        }
    }
}